# 以下是gitignore的一些规则：
# ================================================================================================================================================================================
# 以斜杠"/"开头表示目录，匹配项目根目录。
# 以斜杠"/"结束的模式，只匹配文件夹以及在该文件夹路径下的内容，但是不匹配该文件。
# 如果一个模式不包含斜杠，则它匹配相对于当前.gitignore 文件路径的内容，如果该模式不在.gitignore 文件中，则相对于项目根目录。
# 以星号"*"通配多个字符，即匹配多个任意字符；使用两个星号"**" 表示匹配任意中间目录，比如a/**/z可以匹配 a/z, a/b/z 或 a/b/c/z等。
# 以方括号"[]"包含单个字符的匹配列表，即匹配任何一个列在方括号中的字符。比如[abc]表示要么匹配一个a，要么匹配一个b，要么匹配一个c；如果在方括号中使用短划线分隔两个字符，表示所有在这两个字符范围内的都可以匹配。比如[0-9]表示匹配所有0到9的数字，[a-z]表示匹配任意的小写字母）。
# 以叹号"!"表示不忽略(跟踪)匹配到的文件或目录，即要忽略指定模式以外的文件或目录，可以在模式前加上惊叹号（!）取反。需要特别注意的是：如果文件的父目录已经被前面的规则排除掉了，那么对这个文件用"!"规则是不起作用的。也就是说"!"开头的模式表示否定，该文件将会再次被包含，如果排除了该文件的父级目录，则使用"!"也不会再次被包含。可以使用反斜杠进行转义。

# 以下是lightning的自定义的规则：
# ================================================================================================================================================================================
# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.

# commented by xd 
# /web/core
# /web/libraries
# /web/modules/contrib
# /web/profiles/contrib
# /web/themes/contrib
# /web/sites/default/files

# Ignore Composer-managed dependencies.
# commented by xd
# vendor/
# 以 / 结尾的只会匹配目录，不带 / 结尾的匹配文件和目录，注意没有一种写法仅匹配文件的


# 以下是thunder的规则：
# ================================================================================================================================================================================
# Ignore directories generated by Composer
# drush/contrib
drush
vendor
bin
web/core
web/libraries
web/modules/contrib
web/themes/contrib
web/profiles/contrib
# 为什么上面lightning的这些规则前面不加斜杠/？

# Ignore Drupal's file directory
web/sites/default/files
private/*
tmp/*

# Ignore files generated by PhpStorm
.idea

# Ignore apple stuff
.DS_Store

# Ignore configuration files that may contain sensitive information.
web/sites/*/settings.local.php
web/sites/*/settings.devdesktop.php
web/sites/*/services*.yml

# Ignore paths that contain user-generated content.
web/sites/*/files
web/sites/*/private

# Ignore SimpleTest multi-site environment.
web/sites/simpletest

# Ignore Acquia Dev Desktop configs.
web/sites/*.dd

# Ignore .env files as they are personal
/.env


# 以下是varbase规则：
# ================================================================================================================================================================================
# Ignore paths that contain user-generated content.
web/files
web/sites/*/files
web/sites/*/private
web/sites/*/settings.local.php
web/*/settings.local.php
acquia-file
/log


# Ignore vim swp files and gedit temp files
*.swp
*.*~
.vim

# eclipse settings files
.project
.pydevproject
.settings
.buildpath

# netbeans settings files
nbproject

# Ignore OS settings files
.DS_Store*
Thumbs.db
ehthumbs.db

# Ignore files generated by PhpStorm
.idea

# and some random server stuff
.bash_history
.bashrc
errors.log

# Ignore yarn lint dependencies.
node_modules
yarn.lock

# 以下规则拷贝自https://github.com/github/gitignore/blob/master/Drupal.gitignore
# ================================================================================================================================================================================
# 忽略根目录下的这两个文件
/.editorconfig
/.gitattributes

# 忽略web目录下的这些文件
web/.csslintrc
web/.eslintignore
web/.eslintrc.json
web/.ht.router.php
web/.htaccess
web/autoload.php
web/example.gitignore
web/index.php
web/INSTALL.txt
web/LICENSE.txt
web/README.md
web/robots.txt
web/update.php
web/web.config